# dependencies
/node_modules

# System Files
.DS_Store
Thumbs.db
[Dd]esktop.ini

# Links
*.lnk
.idea/
*.PEM
.vscode/
.DS_Store
Thumbs.db

# Logs
npm-debug.log

# npm package lock
package-lock.json

# Environment variables
.env

# Build output
dist/
build/

# Temporary files
*.tmp
*.temp